.block,
.block_extra {
  width: 510px;
  display: flex;
  justify-content: space-between;
  border: none;
  border-bottom: 1px solid var(--bg-gray-color);
  padding: 10px 0;
}

.block:nth-child(11n) {
  margin-bottom: 60px;
  border-bottom: none;
}

.block_extra:nth-child(5n) {
  margin-bottom: 60px;
  border-bottom: none;
}

.input_profile {
  border: none;
  text-align: right;
}
