.input {
  border: none;
  border-bottom: 1px solid #3369f3;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  background-color: "none";
}

.input::selection {
  background-color: "none";
}

.input_profile {
  border: none;
  text-align: right;
}
