.messege_wrap{
  width: 100%;
}
.messege {
  max-width: 400px;
  min-width: 10px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: flex-end;
}
.messege_to{
  border-radius: 10px;
  background: #F8F8F8;
  align-self: flex-start;
}
.messege_from{
  border-radius: 10px 10px 0 10px;
  background: #E4EDFD;
  align-self: flex-end;

}
.messege_time{
  font-size: 10px;
  text-align: right;
  color: #999999;
  margin-left: 10px;
}
