* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  height: 100vh;
}

:global(.app) {
  --white-color: #fff;
  --red-color: red;
  --bg-gray-color: #efefef;
  --text-gray-color: #999;
  --bg-blue-color: #3369f3;
  --selected-color: #e4edfd;
  --overlay-color: rgba(0 0 0 / 50%);
}

:global(.visually_hidden) {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
